@charset"UTF-8";
@keyframes subtleIn {
    30% {
        transform:translateY(0)
    }
}
@-o-keyframes subtleIn {
    30% {
        -o-transform:translateY(0)
    }
}
@-webkit-keyframes subtleIn {
    30% {
        -webkit-transform:translateY(0)
    }
}
@-moz-keyframes subtleIn {
    30% {
        -moz-transform:translateY(0)
    }
}
@-webkit-keyframes fadeInUp {
    from {
        opacity:0;
        -webkit-transform:translate3d(0, 100%, 0);
        transform:translate3d(0, 100%, 0)
    }
    to {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInUp {
    from {
        opacity:0;
        -webkit-transform:translate3d(0, 100%, 0);
        transform:translate3d(0, 100%, 0)
    }
    to {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@-webkit-keyframes fadeOutUp {
    from {
        opacity:1
    }
    to {
        opacity:0;
        -webkit-transform:translate3d(0, -100%, 0);
        transform:translate3d(0, -100%, 0)
    }
}
@keyframes fadeOutUp {
    from {
        opacity:1
    }
    to {
        opacity:0;
        -webkit-transform:translate3d(0, -100%, 0);
        transform:translate3d(0, -100%, 0)
    }
}
@keyframes bounceIn {
    0% {
        -webkit-transform:scale(0, 0);
        -moz-transform:scale(0, 0);
        -ms-transform:scale(0, 0);
        -o-transform:scale(0, 0);
        transform:scale(0, 0)
    }
    60%, 100% {
        -webkit-transform:scale(1, 1);
        -moz-transform:scale(1, 1);
        -ms-transform:scale(1, 1);
        -o-transform:scale(1, 1);
        transform:scale(1, 1)
    }
    80% {
        -webkit-transform:scale(0.8, 0.8);
        -moz-transform:scale(0.8, 0.8);
        -ms-transform:scale(0.8, 0.8);
        -o-transform:scale(0.8, 0.8);
        transform:scale(0.8, 0.8)
    }
}
@keyframes bounceOut {
    100% {
        -webkit-transform:scale(0, 0);
        -moz-transform:scale(0, 0);
        -ms-transform:scale(0, 0);
        -o-transform:scale(0, 0);
        transform:scale(0, 0)
    }
    40%, 0% {
        -webkit-transform:scale(1, 1);
        -moz-transform:scale(1, 1);
        -ms-transform:scale(1, 1);
        -o-transform:scale(1, 1);
        transform:scale(1, 1)
    }
    20% {
        -webkit-transform:scale(0.8, 0.8);
        -moz-transform:scale(0.8, 0.8);
        -ms-transform:scale(0.8, 0.8);
        -o-transform:scale(0.8, 0.8);
        transform:scale(0.8, 0.8)
    }
}

.cbs-site-footer {
    background-color:#fff;
    border-top:1px solid #e6e7e9;
    padding:30px 15px 55px;
    position:relative;
    text-align:center;
}
.cbs-site-footer .site-footer-branding {
    display:inline-block;
    margin:0 auto 25px
}
.cbs-site-footer .site-footer-logo {
    background:transparent url('//sportsfly.cbsistatic.com/bundles/sportsmediacss/images/core/cbssports-digital-logo.svg') no-repeat center center;
    background-size:contain;
    display:block;
    height:40px;
    width:160px
}
.cbs-site-footer .site-footer-follow {
    zoom:1;
    display:inline-block;
    margin:0 auto 8px
}
.cbs-site-footer .site-footer-follow:before, .cbs-site-footer .site-footer-follow:after {
    content:"";
    display:table
}
.cbs-site-footer .site-footer-follow:after {
    clear:both
}
.cbs-site-footer .site-footer-follow li {
    float:left;
    margin-bottom:10px;
    margin-right:20px
}
.cbs-site-footer .site-footer-follow li:nth-child(3n) {
    margin-right:0
}
.cbs-site-footer .site-footer-follow li:nth-child(4n) {
    clear:left
}
.cbs-site-footer .site-footer-links {
    zoom:1;
    display:inline-block;
    margin:0 auto 10px
}
.cbs-site-footer .site-footer-links:before, .cbs-site-footer .site-footer-links:after {
    content:"";
    display:table
}
.cbs-site-footer .site-footer-links:after {
    clear:both
}
.cbs-site-footer .site-footer-links li {
    display:inline-block;
    margin:0 8px 5px
}
.cbs-site-footer .site-footer-links a {
    color:#94a1a9;
    font-size:10px;
    font-weight:600;
    letter-spacing:1px;
    
}
.cbs-site-footer .site-footer-links a:hover {
    color:#147cd1
}
.cbs-site-footer .site-footer-partners {
    margin-bottom:10px
}
.cbs-site-footer .site-footer-button {
    display:inline-block;
    margin:0 6px;
    width:100px;
    height:40px
}

.cbs-site-footer .site-footer-button.button2 {
    background:transparent url('../images/by-nc-sa.png') no-repeat center center;
    background-size:contain
}

.cbs-site-footer .site-footer-dates {

    font-size:11px;
}
.cbs-site-footer .site-footer-copyright {
    color:#94a1a9;
    font-size:9px;
    font-weight:300;
    letter-spacing:.5px;
    padding-bottom:2px;
}
.cbs-site-footer .site-footer-copyright p {
    margin-bottom:6px
}
.cbs-site-footer {
    padding:60px 25px 115px
}
.cbs-site-footer .site-footer-logo {
    height:50px;
    width:200px
}
.cbs-site-footer .site-footer-follow li:nth-child(3n) {
    margin-right:20px
}
.cbs-site-footer .site-footer-follow li:nth-child(4n) {
    clear:none
}
.cbs-site-footer .site-footer-links a {
    font-size:9px
}
