/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);*/
body {
  background: rgb(233, 112, 24);
  font-family:Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  position: relative;
}
ol, ul {
	list-style: none;
}
#header {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 99999;
}
#carrusel{
  margin-top: 170px;
  left: 110px;
}
.box {
  padding: 50px 30px;
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
.box.first {
  margin-top: -40px;
  border-radius: 5px 5px 0 0;
}
.box.last {
  border-radius: 0 0 5px 5px;
}
.box h2 {
  padding: 10px 30px;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
  font-size: 48px;
}
#contacto .box {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
}
#contacto .row > div {
  margin-bottom: 10px;
}


#estructura .box {
  padding-bottom: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#estructura .row > div {
  margin-bottom: 40px;
}
.center {
  text-align: center;
}

.carousel.scale .left-arrow,
.carousel.scale .right-arrow {
  top: 30%;
  position: absolute;
}
.carousel.scale .left-arrow {
  left: -10px;
}
.carousel.scale .right-arrow {
  right: -10px;
}
.carousel.scale .active .row > div:nth-child(1) {
  -webkit-animation: scaleUp 200ms linear 0 both;
  -moz-animation: scaleUp 200ms linear 0 both;
  -ms-animation: scaleUp 200ms linear 0 both;
  -o-animation: scaleUp 200ms linear 0 both;
  animation: scaleUp 200ms linear 0 both;
}
.carousel.scale .active .row > div:nth-child(2) {
  -webkit-animation: scaleUp 200ms linear 100ms both;
  -moz-animation: scaleUp 200ms linear 100ms both;
  -ms-animation: scaleUp 200ms linear 100ms both;
  -o-animation: scaleUp 200ms linear 100ms both;
  animation: scaleUp 200ms linear 100ms both;
}
.carousel.scale .active .row > div:nth-child(3) {
  -webkit-animation: scaleUp 200ms linear 200ms both;
  -moz-animation: scaleUp 200ms linear 200ms both;
  -ms-animation: scaleUp 200ms linear 200ms both;
  -o-animation: scaleUp 200ms linear 200ms both;
  animation: scaleUp 200ms linear 200ms both;
}
.carousel.scale .active .row > div:nth-child(4) {
  -webkit-animation: scaleUp 200ms linear 400ms both;
  -moz-animation: scaleUp 200ms linear 400ms both;
  -ms-animation: scaleUp 200ms linear 400ms both;
  -o-animation: scaleUp 200ms linear 400ms both;
  animation: scaleUp 200ms linear 400ms both;
}

.navbar-default {
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 0;
  padding: 0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
  overflow: hidden;
}
.navbar-default .first a {
  border-radius: 0 0 0 5px;
}
.navbar-default .navbar-brand {
  padding: 0px;
  margin-right: 50px;
  margin-left: 50px;
}
.navbar-brand>img {
  height: 90%;
  padding: 0px;
  width: 90px;
}
.navbar-default .navbar-nav > li {
  margin-left: 1px;
}
.navbar-default .navbar-nav > li > a {
  padding: 27px 22px;
  font-size: 15px;
  line-height: 18px;
  color: #999;
}
.navbar-default .navbar-nav > li > a > i {
  display: inline-block;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active:focus > a,
.navbar-default .navbar-nav > li.active:hover > a,
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li:focus > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active:focus > a:focus,
.navbar-default .navbar-nav > li.active:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a:focus,
.navbar-default .navbar-nav > li:focus > a:focus {
  background-color: #f69e1b;
  color: #fff;
}
/* Maquesina*/

dl {
  margin-top: 0;
  margin-bottom: 21px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}

/* */
.cinta {
  margin-top: -5px;
  margin-bottom: 5px;
}

/** marquesina **/
.marquesina {
  width: 82.5%;
  height: 50px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #fff;
  padding: 5px 2px 5px 0;
}

#marquesina {
  border-left: 1px solid #bbbbbb;
  height: 40px;
}
#interesa {
  border-left: 1px solid #bbbbbb;
  float: right;
  margin-right: 5px;
}
#interesa p {
  float: right;
  color: #777777;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding: 0;
}
#interesa i {
  font-size: 20px;
  vertical-align: middle;
  float: left;
  color: #007953;
  margin: 9px 5px 0 0;
  padding: 0;
}

/** fecha **/
.fecha {
  width: 10%;
  height: 50px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.fecha p {
  color: #777777;
  vertical-align: middle;
  line-height: 50px;
  text-align: center;
  margin: 0;
}

#marque {
  float: left;
  margin-top: 3px;
}
#marque a {
  text-decoration: none;
  color: #003c71;
  padding: 5px;
}
#marque a:hover {
  text-decoration: underline;
}
#marque a:active {
  border-radius: 5px;
  background-color: #dddddd;
}
#marque > div {
  width: 100%;
  height: 35px;
  overflow: hidden;
}
#marque dl {
  display: block;
  margin: 0;
}
#marque dt,
#marque dd {
  display: block;
  float: left;
  line-height: 35px;
}
#marque dd {
  margin-left: 80px;
}


.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-xs-21, .col-xs-22, .col-xs-23, .col-xs-24 {
  float: left;
}
.carousel {
  height: 260px;
  width: 117%;
  margin-bottom: 60px;
    -moz-border-radius: 10px; /* FF1+ */
    -webkit-border-radius: 10px; /* Saf3-4, iOS 1+, Android 1.5+ */
    border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
    overflow:hidden;
    z-index: 1000;
}
.carousel .item {
  height: 260px;
  width: 100%;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 240px;
}
/*!~~~~FOOTER STYLE~~~~*/

strong {
	font-weight: 700;
}
/* title */
.title {
	float: left;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #f06019;
	margin: 15px 0;
	font-size: 24px;
	line-height: 24px;
	color: #c47909;
	font-weight: 300;
	padding-bottom: 2px;
}
.title strong {
	color: #f06019;
	border-bottom: 1px solid #f06019;
	font-weight: 300;
	padding-bottom: 1px;
}

.contacto-info p:hover .fa
{
	color: #f06019;
}
.contacto-info p a, .footer-info  {
	color: #2d096f;
}
.contacto-info p:hover a {
	color: #f06019;
}
.contacto-info .adress {
	float: left;
}


.wrap {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.panel-collapse a:focus,
.panel-collapse a:hover,
.panel-collapse a:active {
  outline: 0;
  text-decoration: none;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  background-color: #009688;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.panel-body {
  background: #fff;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
  content: '\e146';
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}

@media (min-width: 600px) and (max-width: 1008px){
    .navbar-header {
          float: none;
      }
      .navbar-toggle {
          display: block;
      }
      .navbar-collapse {
          border-top: 1px solid transparent;
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-collapse.collapse {
          display: none!important;
      }
      .navbar-nav {
          float: none!important;
          margin: 7.5px -15px;
      }
      .navbar-nav>li {
          float: none;
      }
      .navbar-nav>li>a {
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .navbar-text {
          float: none;
          margin: 15px 0;
      }
      /* since 3.1.0 */
      .navbar-collapse.collapse.in {
          display: block!important;
      }
      .collapsing {
          overflow: hidden!important;
      }
  }


/*pantalla grande*/
  @media (min-width: 1009px) {
    .cinta {
      margin-top: -26px;
      margin-bottom: 5px;
      width: 92%;
    }
    #marque {
      margin-left: 1%;
      float: left;
      width: 85%;
    }
    #botones {
      margin-top: -50px;
      margin-bottom: 0px;
      margin-left: 900px;
    }
  }

  /*fin pantalla grande*/

/*pantalla estandar*/
  @media (min-width: 779px) and (max-width: 1008px) {
    #botones {
      margin-top: -50px;
      margin-bottom: 0px;
      margin-left: 570px;
    }
    #btn_estudiantes {
    width: 200px;
    height: 80px;
    }
    #btn_docentes {
    width: 200px;
    height: 80px;
    margin-bottom: 10px;
    }
    #btn_departamento {
    width: 200px;
    height: 80px;
    }
    .cinta {
      margin-top: -50px;
      margin-bottom: 5px;
    }
    #marque {
      width: 78%;
      margin-left: 1%;
    }
    .marquesina {
      width: 76%;
    }
  }
/*fin pantalla estandar*/

/*pantalla tablet*/
  @media (min-width: 498px) and (max-width: 778px) {
    #botones {
      margin-top: -5px;
      margin-bottom: 0px;
      margin-left: 550px;
    }
    #btn_estudiantes {
    width: 170px;
    height: 60px;
    }
    #btn_docentes {
      width: 180px;
      height: 60px;
      margin-left: 50px;
    }
    #btn_departamento {
      width: 170px;
      height: 60px;
      margin-left: 50px;
    }
    .cinta {
      margin-top: -75px;
      margin-bottom: 80px;
    }
    #interesa {
      margin-top: -4px;
      width: 30px;

    }
    #marque {
      margin-left: 1%;
      width: 85%;
      margin-right: 0px;
    }
    .marquesina {
      width: 67%;
    }
  }

/*fin pantalla tablet*/


/*pantalla pequeña*/
@media  (min-width: 448px) and (max-width: 490px) {
  #botones {
    margin-top: -5px;
    margin-bottom: 0px;
    margin-left: 285px;
  }
  #btn_estudiantes {
  width: 130px;
  height: 50px;
  }
  #btn_docentes {
    width: 130px;
    height: 50px;
    margin-left: 45px;
  }
  #btn_departamento {
    width: 130px;
    height: 50px;
    margin-left: 45px;
  }
  .carousel {
    height: 160px;
    width: 117%;
      -moz-border-radius: 10px; /* FF1+ */
      -webkit-border-radius: 10px; /* Saf3-4, iOS 1+, Android 1.5+ */
      border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
      overflow:hidden;
      z-index: 1000;
  }
  .carousel .item {
    height: 160px;
    width: 100%;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 160px;
  }
  #control h1{
    font-size: 14px;
  }
  #control p{
    font-size: 12px;
  }
  #libro h1{
    font-size: 14px;
  }
  #libro p{
    font-size: 12px;
  }
  #mision h1{
    font-size: 14px;
  }
  #mision p{
    font-size: 12px;
  }
  #ingreso h1{
    font-size: 14px;
  }
  #ingreso p{
    font-size: 12px;
  }
  #estructura{
  margin-top: -25px;
  }
  .cinta {
    margin-top: -90px;
    margin-bottom: 110px;
  }
  #interesa {
    margin-top: -4px;
    width: 30px;
  }
  #marque {
    margin-left: 1%;
    width: 85%;
    margin-right: 0px;
  }
  #marque dd{
  font-size: 12px;
  }
  .marquesina {
    width: 67%;
  }
}
