@charset"UTF-8";
@keyframes subtleIn {
    30% {
        transform:translateY(0)
    }
}
@-o-keyframes subtleIn {
    30% {
        -o-transform:translateY(0)
    }
}
@-webkit-keyframes subtleIn {
    30% {
        -webkit-transform:translateY(0)
    }
}
@-moz-keyframes subtleIn {
    30% {
        -moz-transform:translateY(0)
    }
}
@-webkit-keyframes fadeInUp {
    from {
        opacity:0;
        -webkit-transform:translate3d(0, 100%, 0);
        transform:translate3d(0, 100%, 0)
    }
    to {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInUp {
    from {
        opacity:0;
        -webkit-transform:translate3d(0, 100%, 0);
        transform:translate3d(0, 100%, 0)
    }
    to {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@-webkit-keyframes fadeOutUp {
    from {
        opacity:1
    }
    to {
        opacity:0;
        -webkit-transform:translate3d(0, -100%, 0);
        transform:translate3d(0, -100%, 0)
    }
}
@keyframes fadeOutUp {
    from {
        opacity:1
    }
    to {
        opacity:0;
        -webkit-transform:translate3d(0, -100%, 0);
        transform:translate3d(0, -100%, 0)
    }
}
@keyframes bounceIn {
    0% {
        -webkit-transform:scale(0, 0);
        -moz-transform:scale(0, 0);
        -ms-transform:scale(0, 0);
        -o-transform:scale(0, 0);
        transform:scale(0, 0)
    }
    60%, 100% {
        -webkit-transform:scale(1, 1);
        -moz-transform:scale(1, 1);
        -ms-transform:scale(1, 1);
        -o-transform:scale(1, 1);
        transform:scale(1, 1)
    }
    80% {
        -webkit-transform:scale(0.8, 0.8);
        -moz-transform:scale(0.8, 0.8);
        -ms-transform:scale(0.8, 0.8);
        -o-transform:scale(0.8, 0.8);
        transform:scale(0.8, 0.8)
    }
}
@keyframes bounceOut {
    100% {
        -webkit-transform:scale(0, 0);
        -moz-transform:scale(0, 0);
        -ms-transform:scale(0, 0);
        -o-transform:scale(0, 0);
        transform:scale(0, 0)
    }
    40%, 0% {
        -webkit-transform:scale(1, 1);
        -moz-transform:scale(1, 1);
        -ms-transform:scale(1, 1);
        -o-transform:scale(1, 1);
        transform:scale(1, 1)
    }
    20% {
        -webkit-transform:scale(0.8, 0.8);
        -moz-transform:scale(0.8, 0.8);
        -ms-transform:scale(0.8, 0.8);
        -o-transform:scale(0.8, 0.8);
        transform:scale(0.8, 0.8)
    }
}
.main-score-card {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-top:1px solid #e6e7e9;
    width:100%
}
.main-score-card.last-card {
    border-bottom:1px solid #e6e7e9
}
.full-score-cards {
    border-bottom:1px solid #e6e7e9;
    border-top:1px solid #e6e7e9;
    margin-bottom:10px
}
.mini-score-cards {
    margin-bottom:32px;
    width:100%
}
.mini-score-row.date .mini-score-td {
    border:0
}
.mini-score-row.first-game-row .mini-score-td:not(.empty-card) {
    border-top:1px solid #e6e7e9
}
.mini-score-row:not(:first-child).date .top-bar {
    padding-top:15px
}
.mini-score-td {
    border-right:1px solid #e6e7e9;
    border-bottom:1px solid #e6e7e9;
    vertical-align:top;
    width:50%
}
.mini-score-td:nth-child(2) {
    border-right:none
}
.mini-score-td.empty-card {
    border:none
}
.mini-score-td.header {
    background-color:#e6e7e9;
    border:1px solid #e6e7e9
}
.score-card {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:background-color 0.5s ease;
    -moz-transition:background-color 0.5s ease;
    -o-transition:background-color 0.5s ease;
    transition:background-color 0.5s ease;
    background-color:#f8f8f8;
    display:inline-block;
    padding:12px 8px 8px;
    position:relative
}
.score-card.ingame {
    background-color:#fff
}
.score-card.ingame .bottom-bar {
    font-weight:600
}
.score-card.postgame {
    background-color:#f8f8f8
}
.score-card.active-card {
    background-color:#379237;
    color:#fff
}
.score-card.active-card a, .score-card.active-card .bottom-bar, .score-card.active-card .in-progress-table td, .score-card.active-card .top-bar .game-status, .score-card.active-card .top-bar .icon-moon-cbs-icon, .score-card.active-card .broadcaster {
    color:#fff
}
.score-card.active-card .bottom-bar {
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity:0.7
}
.score-card.active-card .in-progress-table .team-active td, .score-card.active-card .in-progress-table .team-active a {
    color:#fcd22a
}
.score-card.active-card .icon-moon-round-unchecked {
    visibility:hidden
}
.score-card.active-card .highlight td {
    color:#fcd22a
}
.score-card>.row {
    margin-top:20px
}
.score-card>.row:first-child {
    margin-top:0
}
.score-card a {
    font-weight:600
}
.top-bar {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:#5b6c77;
    display:inline-block;
    font-size:14px;
    line-height:1.2;
    width:100%
}
.top-bar .game-status {
    color:#232323;
    float:left;
    font-weight:600;

}
.top-bar .game-status.in-progress, .top-bar .game-status.halftime {
    color:#147cd1;
    font-weight:600
}
.top-bar .game-status.pregame {
    color:#232323
}
.top-bar .game-status.pregame-date {
    color:#232323;
    text-transform:none
}
.top-bar .game-status.pregame-game-header {
    color:#5b6c77;
    padding:12px 8px 8px
}
.top-bar .game-status.emphasis {
    color:#147cd1
}
.top-bar .game-status-two {
    color:#5b6c77;
    float:right;
    font-weight:400
}
.top-bar .live {
    color:#fff;
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:400;
    letter-spacing:1px;
    line-height:1.2;
    background-color:#d0021b;
    border-radius:2px;
    margin-right:4px;
    position:relative;
    padding:2px 5px
}
.top-bar .live a {
    color:inherit;
    font-weight:inherit
}
.top-bar .live a:hover {
    color:#fff
}
.top-bar .icon-moon-cbs-icon {
    color:#5b6c77;
    float:right;
    line-height:0.95;
    padding-left:6px
}
.top-bar .icon-moon-cbs-icon:before {
    font-size:12px;
    padding-right:2px
}
.top-bar .icon-moon-cbs-icon:after {
    content:"CBS";
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:700
}
.top-bar .mlb-inning-arrow {
    line-height:0.45;
    padding-left:6px;
    position:relative;
    top:-2px
}
.top-bar .mlb-inning-arrow:before {
    font-size:9px;
    padding-right:2px
}
.broadcaster {
    color:#5b6c77;
    float:right;
    font-size:14px;
    font-weight:400
}
.score-card-container {
    padding:0
}
.score-card-container .row {
    margin-bottom:30px
}
.score-card-container .ad-leader-top {
    margin-left:calc(($grid-max-content-width - $grid-narrow/2) * -1);
    padding:0
}
.live-update {
    clear:both;
    overflow:hidden
}
.single-score-card {
    -webkit-box-shadow:0 2px 0 0 rgba(230, 230, 230, 0.5);
    -moz-box-shadow:0 2px 0 0 rgba(230, 230, 230, 0.5);
    box-shadow:0 2px 0 0 rgba(230, 230, 230, 0.5);
    -webkit-transition:box-shadow 0.5s ease;
    -moz-transition:box-shadow 0.5s ease;
    -o-transition:box-shadow 0.5s ease;
    transition:box-shadow 0.5s ease;
    background-color:#fff;
    border:1px solid #e6e7e9;
    position:relative
}
.single-score-card:hover {
    -webkit-transition:box-shadow 0.2s ease-in-out;
    -webkit-transition-delay:0s;
    -moz-transition:box-shadow 0.2s ease-in-out 0s;
    -o-transition:box-shadow 0.2s ease-in-out 0s;
    transition:box-shadow 0.2s ease-in-out 0s;
    -webkit-box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
    z-index:99
}
.single-score-card:hover:hover {
    -webkit-box-shadow:0 5px 20px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 5px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow:0 5px 20px 0 rgba(0, 0, 0, 0.2)
}
.single-score-card.active {
    border:1px solid #379237
}
.single-score-card.video-card {
    height:515px
}
.single-score-card.video-card+.sponsored-card {
    height:515px
}
.single-score-card .section {
    box-sizing:border-box;
    display:inline-block;
    float:left;
    padding:16px 12px;
    width:100%
}
.single-score-card .section:last-child {
    border-top:1px solid #e6e7e9
}
.single-score-card .section.in-progress-table {
    padding-top:0;
    padding-bottom:0
}
.single-score-card .section.in-progress-table:last-child {
    border-top:none
}
.single-score-card .section.series-statement {
    border-top:none;
    padding-top:5px;
    padding-bottom:5px
}
.single-score-card .section.status-statement {
    border-top:1px solid #e6e7e9
}
.single-score-card .section>.top-bar {
    padding:0
}
.single-score-card .logo {
    height:25px;
    margin:0 8px 0 0;
    width:25px
}
.single-score-card .video-link-item {
    border-top:1px solid #e6e7e9;
    padding:10px 16px 0;
    position:relative
}
.single-score-card .video-link-item .video-link-item-wrapper {
    display:table;
    position:relative;
    table-layout:fixed;
    width:100%
}
.single-score-card .video-link-item .video-link-item-title {
    color:#232323;
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:600;
    letter-spacing:0.5px;
    line-height:1.1;
    text-transform:none;
    margin-bottom:6px
}
.single-score-card .video-link-item .video-link-item-title a {
    color:inherit;
    font-weight:inherit
}
.single-score-card .video-link-item .video-link-item-title a:hover {
    color:#147cd1
}
.single-score-card .video-link-item .video-link-item-image {
    display:table-cell;
    height:88px;
    padding-right:15px;
    vertical-align:middle;
    width:88px
}
.single-score-card .video-link-item .video-link-item-image img {
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px
}
.single-score-card .video-link-item .video-link-item-thumbnail {
    height:88px;
    overflow:hidden;
    position:relative;
    width:88px
}
.single-score-card .video-link-item .video-link-item-thumbnail img {
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    height:100%;
    left:50%;
    max-width:none;
    position:absolute;
    top:50%;
    width:auto
}
.single-score-card .video-link-item .video-link-item-content {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:table-cell;
    vertical-align:middle;
    width:100%
}
.single-score-card .video-link-item .video-link-item-details {
    font-family:"proxima-nova-condensed", "proxima-nova", Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:normal;
    letter-spacing:2px;
    line-height:1;
    color:#94a1a9
}
.single-score-card .video-link-item .video-link-item-details a {
    color:inherit;
    font-weight:inherit
}
.single-score-card .video-link-item .video-link-item-details a:hover {
    color:#147cd1
}
.single-score-card .sponsored {
    padding:20px
}
.single-score-card .sponsored img {
    float:left
}
.single-score-card .sponsored .text {
    line-height:21px;
    margin-left:102px
}
.single-score-card .sponsored .text .label {
    display:block;
    padding:0 5px 5px 0
}
.single-score-card .more-stories {
    padding:20px
}
.single-score-card .more-stories ul li {
    line-height:20px;
    padding-bottom:16px
}
.sportsline-pro-logotype {
    width:auto
}
.sportsline-pro-logotype td {
    font-size:12px;
    letter-spacing:1px;
    line-height:14px
}
.top-bar {
    font-size:14px;
    letter-spacing:1px;
    line-height:1.15;
    padding:20px 12px 8px
}
.top-bar .game-status {
    font-weight:400
}
.top-bar .game-status.emphasis {
    color:#147cd1;
    font-weight:600
}
.top-bar .icon-moon-cbs-icon {
    padding-top:2px
}
.top-bar .icon-moon-cbs-icon:before {
    font-size:12px
}
.top-bar .icon-moon-cbs-icon:after {
    font-size:14px
}
.broadcaster {
    font-size:14px
}
.label {
    color:#5b6c77;
    font-size:10px;
    font-weight:600;
    letter-spacing:1px;
    line-height:1.5;
    padding:0 5px 4px 0;
    text-align:left;
    width:40px
}
.label.narrow {
    line-height:0
}
.in-progress-odds {
    color:#5b6c77;
    font-weight:600;
    text-align:right
}
.team-player-stats table {
    width:100%
}
.team-player-stats th {
    width:calc((100% - 40px)/2)
}
.team-player-stats th:first-child {
    width:40px
}
.team-player-stats td {
    color:#232323;
    font-size:10px;
    letter-spacing:0.5px;
    line-height:1.25
}
.team-player-stats td.label {
    color:#5b6c77
}
.team-player-stats td.total-score {
    top:0
}
.team-player-stats td span {
    color:#232323;
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:400;
    letter-spacing:2px;
    line-height:1;
    letter-spacing:1px;
    line-height:1.4;
    color:#5b6c77;
    display:block;
    padding-bottom:8px;
    padding-right:8px
}
.team-player-stats td span a {
    color:inherit;
    font-weight:inherit
}
.team-player-stats td span a:hover {
    color:#147cd1
}
.team-player-stats .team-player-stats-bold, .team-player-stats .player-name {
    display:inline-block;
    font-size:12px;
    font-weight:600;
    letter-spacing:0.5px;
    line-height:15px;
    margin-bottom:3px
}
.team-player-stats .player-team {
    display:inline-block
}
.team-player-stats .team-player-stats-description {
    display:inline-block;
    letter-spacing:.5px
}
.team-player-stats.basketball.condensed thead tr, .team-player-stats.nhl.condensed thead tr {
    float:none;
    width:100%
}
.team-player-stats.basketball.condensed td, .team-player-stats.nhl.condensed td {
    padding:0
}
.team-player-stats.basketball.condensed td:first-child, .team-player-stats.nhl.condensed td:first-child {
    display:none
}
.team-player-stats.basketball.condensed tr, .team-player-stats.nhl.condensed tr {
    float:left;
    width:50%
}
.team-player-stats.basketball.condensed tr td, .team-player-stats.nhl.condensed tr td {
    padding-right:30px
}
.team-player-stats.basketball.goals tbody tr, .team-player-stats.nhl.goals tbody tr {
    border:0;
    text-transform:none
}
.team-player-stats.basketball.goals td span, .team-player-stats.nhl.goals td span {
    text-transform:none;
    color:#232323
}
.ingame .team-player-stats.basketball.key-players, .ingame .team-player-stats.nhl.key-players {
    display:none
}
.team-player-stats.basketball tbody tr, .team-player-stats.nhl tbody tr {
    border-top:10px solid #fff;
    border-bottom:10px solid #fff
}
.team-player-stats.basketball td, .team-player-stats.nhl td {
    padding:0;
    padding-left:16px;
    vertical-align:middle
}
.team-player-stats.basketball td *, .team-player-stats.nhl td * {
    padding:0
}
.team-player-stats.basketball td a, .team-player-stats.nhl td a {
    display:inline-block
}
.team-player-stats.basketball td:first-child, .team-player-stats.nhl td:first-child {
    padding-left:0;
    width:60px
}
.team-player-stats.basketball th, .team-player-stats.nhl th {
    padding:0
}
.status-statement table {
    width:100%
}
.status-statement .top-bar .game-status, .status-statement .top-bar .game-status-two {
    letter-spacing:0
}
.status-statement .top-bar .game-status {
    color:#232323
}
.status-statement .subheading {
    color:#232323;
    display:block;
    font-size:12px;
    font-weight:600;
    line-height:1
}
.status-statement .other-info {
    font-size:11px
}
.series-statement {
    color:#232323;
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:400;
    letter-spacing:2px;
    line-height:1;
    letter-spacing:1px;
    line-height:1.4;
    color:#94a1a9;
    min-height:25px
}
.series-statement a {
    color:inherit;
    font-weight:inherit
}
.series-statement a:hover {
    color:#147cd1
}
.score-card-headlines {
    margin:25px 0 0
}
.score-card-headlines li {
    font-size:12px
}
.score-card-headlines.article-list-single-lead {
    background-color:transparent;
    border-bottom:0;
    border-left:0;
    border-right:0;
    box-shadow:none
}
.score-card-headlines.article-list-single-lead:hover {
    position:static
}
.score-card-headlines.section {
    float:none
}
.score-card-headlines .article-list-single-content {
    padding:0
}
.score-card-headlines .article-list-item-more {
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:600;
    letter-spacing:0.5px;
    line-height:1.2;
    color:#147cd1;
    margin:20px 0 0;
    text-align:center
}
.score-card-headlines .article-list-item-more a {
    color:inherit;
    font-weight:inherit
}
.score-card-headlines .article-list-item-more a:hover {
    color:#147cd1
}
@media (min-width: 1250px) {
    body:not(.skinAd) .label {
        font-size:12px
    }
    body:not(.skinAd) .top-bar {
        padding:16px 16px 8px
    }
    body:not(.skinAd) .single-score-card .section {
        padding:16px
    }
    body:not(.skinAd) .single-score-card .section>.top-bar {
        padding:0
    }
    body:not(.skinAd) .single-score-card .section.in-progress-table {
        padding-top:0;
        padding-bottom:0
    }
    body:not(.skinAd) .single-score-card .section.series-statement {
        padding-top:5px;
        padding-bottom:5px
    }
    body:not(.skinAd) .team-player-stats td {
        font-size:12px
    }
    body:not(.skinAd) .team-player-stats .team-player-stats-description, body:not(.skinAd) .team-player-stats .team-player-stats-bold, body:not(.skinAd) .team-player-stats .player-name {
        font-size:14px
    }
    body:not(.skinAd) .status-statement .other-info {
        font-size:13px
    }
}
@media (min-width: 1420px) {
    .skinAd:not(.skinType-skinlocknarrow) .label {
        font-size:12px
    }
    .skinAd:not(.skinType-skinlocknarrow) .top-bar {
        padding:16px 16px 8px
    }
    .skinAd:not(.skinType-skinlocknarrow) .single-score-card .section {
        padding:16px
    }
    .skinAd:not(.skinType-skinlocknarrow) .single-score-card .section>.top-bar {
        padding:0
    }
    .skinAd:not(.skinType-skinlocknarrow) .single-score-card .section.in-progress-table {
        padding-top:0;
        padding-bottom:0
    }
    .skinAd:not(.skinType-skinlocknarrow) .single-score-card .section.series-statement {
        padding-top:5px;
        padding-bottom:5px
    }
    .skinAd:not(.skinType-skinlocknarrow) .team-player-stats td {
        font-size:12px
    }
    .skinAd:not(.skinType-skinlocknarrow) .team-player-stats .team-player-stats-description, .skinAd:not(.skinType-skinlocknarrow) .team-player-stats .team-player-stats-bold, .skinAd:not(.skinType-skinlocknarrow) .team-player-stats .player-name {
        font-size:14px
    }
    .skinAd:not(.skinType-skinlocknarrow) .status-statement .other-info {
        font-size:13px
    }
}
.scoreboard-footer {
    background:#fff;
    display:block;
    padding:50px;
    text-align:center;
    width:100%
}
.scoreboard-footer .sports-digital-logo {
    color:#147cd1;
    font-size:28px;
    font-style:italic;
    padding:0 0 50px
}
.scoreboard-footer .social-links ul {
    display:inline-block
}
.scoreboard-footer .social-links li {
    float:left;
    margin-right:20px
}
.scoreboard-footer .social-links li:last-child {
    margin:0
}
.scoreboard-footer .btn.social {
    height:50px;
    width:50px
}
.scoreboard-footer .btn.social[class*="icon-moon"]:before {
    font-size:20px
}
.scoreboard-footer .btn.social.icon-moon-twitter:before, .scoreboard-footer .btn.social.icon-moon-youtube-play:before {
    font-size:17px;
    margin-top:1px
}
.scoreboard-footer .btn.social.icon-moon-google-plus2:before, .scoreboard-footer .btn.social.icon-moon-pinterest:before {
    font-size:22px;
    font-weight:400;
    margin-left:3px
}
.scoreboard-footer .btn.social.icon-moon-pinterest:before {
    margin-left:2px;
    margin-top:0
}
.scoreboard-footer .links {
    margin:0 auto;
    max-width:620px
}
.scoreboard-footer .links li {
    border-right:1px solid #94a1a9;
    display:inline-block;
    padding:0 5px
}
.scoreboard-footer .links li:last-child {
    border-right:none
}
.scoreboard-footer .links a {
    color:#94a1a9;
    display:block;
    font-size:10px;
    font-weight:600;
    letter-spacing:0.85px;
    line-height:10px;
    text-align:center;
}
.league-leaders {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#fff;
    border-bottom:1px solid #e6e7e9;
    border-top:1px solid #e6e7e9;
    display:none;
    font-size:14px;
    line-height:1.5;
    margin-bottom:15px;
    padding:12px 8px 8px;
    width:100%
}
.league-leaders.active {
    display:inline-block
}
.league-leaders .row {
    zoom:1;
    padding-bottom:5px
}
.league-leaders .row:before, .league-leaders .row:after {
    content:"";
    display:table
}
.league-leaders .row:after {
    clear:both
}
.league-leaders .row:last-child {
    padding:0
}
.league-leaders-carousel .viewport {
    height:50px;
    overflow:hidden
}
.league-leaders-label {
    color:#0055a6;
    float:left;
}
.league-leaders-stats-label {
    color:#5b6c77;
    float:right
}
.league-leaders-player {
    float:left
}
.league-leaders-player-stat {
    float:right;
    font-weight:700
}
.league-leaders {
    border:1px solid #f5f5f5;
    margin:10px 0 0;
    padding:10px 15px 7px
}
.league-leaders .row {
    zoom:1;
    padding-bottom:0
}
.league-leaders .row:before, .league-leaders .row:after {
    content:"";
    display:table
}
.league-leaders .row:after {
    clear:both
}
.league-leaders-label {
    color:#232323;
}
.league-leaders-carousel {
    font-size:14px;
    height:25px;
    margin-left:130px;
    overflow:hidden;
    padding-left:10px;
    white-space:nowrap
}
.league-leaders-carousel>ul {
    display:inline-block;
    left:0
}
.league-leaders-carousel>ul li {
    display:inline-block;
    margin-left:30px
}
.league-leaders-carousel em {
    color:#94a1a9;
    font-style:normal
}
.league-leaders-carousel span {
    display:inline-block;
    margin-right:15px
}
.league-leaders-carousel span:last-child {
    margin-right:0
}
.league-leaders-carousel .stats-label {
    color:#94a1a9;
    margin-right:20px
}
.bottom-bar {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    bottom:0;
    color:#5b6c77;
    display:inline-block;
    font-size:12px;
    font-weight:400;
    line-height:1.2;
    padding:0px;
    width:100%
}
.bottom-bar .left {
    float:left
}
.bottom-bar .right {
    float:right
}
.bottom-bar .suffix {
    font-size:10px;
    padding:0 0 0 1px
}
.bottom-bar {
    bottom:0;
    box-sizing:border-box;
    display:inline-block;
    left:0;
    padding:0 12px;
    position:absolute;
    vertical-align:middle;
    width:100%
}
@media (min-width: 1250px) {
    .bottom-bar body:not(.skinAd) {
        padding:0 16px
    }
}
@media (min-width: 1420px) {
    .bottom-bar .skinAd:not(.skinType-skinlocknarrow) {
        padding:0 16px
    }
}
.bottom-bar.section {
    position:relative
}
.bottom-bar>table {
    border-collapse:separate;
    border-top:1px solid #e6e7e9;
    padding:15px 0
}
.bottom-bar table {
    min-height:16px;
    width:100%
}
.bottom-bar td {
    text-align:center;
    vertical-align:middle;
    width:33%
}
.bottom-bar a {
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:400;
    letter-spacing:1px;
    line-height:1;
    color:#94a1a9;
    color:#f06019;
    font-weight:700
}
.bottom-bar a:hover {
    color:#6b7b85
}
.bottom-bar a a {
    color:inherit;
    font-weight:inherit
}
.bottom-bar a a:hover {
    color:inherit
}
.bottom-bar a:hover {
    color:#f17611;
}
.bottom-bar-container {
    height:0;
    padding-bottom:45px
}
.bottom-bar-container.no-links {
    padding-bottom:0
}
.bottom-bar-container .game-forecast {
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:400;
    letter-spacing:1px;
    line-height:1;
    text-transform:uppercase;
    color:#94a1a9;
    color:#41a251;
    font-weight:700;
    white-space:nowrap
}
.bottom-bar-container .game-forecast:hover {
    color:#6b7b85
}
.bottom-bar-container .game-forecast a {
    color:inherit;
    font-weight:inherit
}
.bottom-bar-container .game-forecast a:hover {
    color:inherit
}
.bottom-bar-container .game-forecast:hover {
    color:#41a251
}
.bottom-bar-container .game-forecast:before {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:"icon-moon";
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1;
    speak:none;
    text-transform:none;
    vertical-align:middle;
    content:"\e678";
    margin-right:5px
}
.bottom-bar-container .game-forecast:before:hover:before {
    text-decoration:none
}
.in-progress-table {
    position:relative
}
.in-progress-table table {
    table-layout:fixed;
    white-space:nowrap;
    width:100%
}
.in-progress-table tr {
    border-bottom:3px solid transparent
}
.in-progress-table td {
    color:#232323;
    font-size:16px;
    font-weight:600;
    line-height:1.5;
    text-align:right;
    vertical-align:middle
}
.in-progress-table td:first-child {
    text-align:left
}
.in-progress-table td:last-child {
    text-align:right
}
.in-progress-table td span:before {
    color:#147cd1;
    font-size:8px
}
.in-progress-table .rank {
    color:#5b6c77;
    font-size:12px;
    font-weight:300;
    letter-spacing:0.5px;
    padding-left:0
}
.in-progress-table .winner td:last-child {
    color:#147cd1
}
.in-progress-table .logo {
    height:24px;
    margin:0 5px -5px 0;
    width:24px
}
.in-progress-table .marker {
    display:inline-block;
    float:left
}
.in-progress-table .marker .icon-moon-caret-right {
    margin-left:-9px;
    width:11px
}
.in-progress-table .marker .icon-moon-caret-right:before {
    font-size:10px;
    position:relative;
    top:-3px
}
.in-progress-table .icon-moon-round-unchecked {
    position:relative;
    top:-4px
}
.in-progress-table .icon-moon-round-unchecked.redzone:before {
    color:#d0021b
}
.in-progress-table .in-progress-odds {
    color:#5b6c77;
    font-size:12px
}
.in-progress-table.super-overtime td.team {
    width:50%
}
.in-progress-table table {
    table-layout:auto
}
.in-progress-table tbody tr:first-child {
    border-bottom:6px solid transparent
}
.in-progress-table tr:last-child td {
    padding-bottom:0
}
.in-progress-table tr {
    border-bottom:0
}
.in-progress-table th, .in-progress-table td {
    font-size:12px;
    text-align:center
}
.in-progress-table th:last-child, .in-progress-table td:last-child {
    padding-left:5px;
    width:14px
}
.in-progress-table th {
    color:#94a1a9;
    font-size:10px;
    line-height:1;
    text-transform:uppercase;
    width:14px
}
.in-progress-table th:first-child {
    padding:0;
    text-align:center
}
.in-progress-table td {
    font-weight:400
}
.in-progress-table td.scores {
    width:14px
}
.in-progress-table td.total-score {
    position:relative;
    text-align:center;
    top:1px
}
@media (min-width: 1250px) {
    .in-progress-table td.total-score body:not(.skinAd) {
        top:0
    }
}
@media (min-width: 1420px) {
    .in-progress-table td.total-score .skinAd:not(.skinType-skinlocknarrow) {
        top:0
    }
}
.in-progress-table td.team {
    color:#232323;
    letter-spacing:0.5px;
    padding-left:0;
    text-align:left;
    white-space:nowrap;
    width:60%
}
.in-progress-table td.team a:hover {
    color:#5eaffd;
    transition:color 0.5s ease
}
.in-progress-table td.team a, .in-progress-table td.team span {
    font-size:13px;
    font-weight:600;
    letter-spacing:0;
    line-height:2
}
.in-progress-table td.team .record {
    color:#94a1a9;
    font-weight:300;
    font-size:12px;
    margin-left:4px
}
.in-progress-table td:last-child {
    text-align:center;
    font-weight:600
}
.in-progress-table td:last-child .label {
    display:block
}
.in-progress-table td:last-child:first-child {
    text-align:left
}
.in-progress-table td.in-progress-odds {
    text-align:right
}
.in-progress-table .marker {
    display:inline-block;
    float:left
}
.in-progress-table .marker .icon-moon-caret-right {
    line-height:1.3;
    margin-left:-12px;
    position:relative;
    top:2px
}
.in-progress-table .marker .icon-moon-caret-right:before {
    top:0
}
.in-progress-table .marker .icon-moon-round-unchecked {
    margin-left:-10px;
    position:relative;
    top:1px
}
.in-progress-table .power-play {
    width:17px;
    height:12px;
    border-radius:1.4px;
    background-color:#ef9502;
    padding:0 2px 0 3px
}
.in-progress-table .power-play:after {
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight:600;
    letter-spacing:0.8px;
    color:#fff;
    content:'PP'
}
@media (min-width: 1250px) {
    body:not(.skinAd) .in-progress-table td {
        font-size:14px
    }
    body:not(.skinAd) .in-progress-table td.team a {
        font-size:16px;
        line-height:1.5
    }
    body:not(.skinAd) .in-progress-table .marker .icon-moon-caret-right {
        margin-left:-16px;
        top:-2px
    }
    body:not(.skinAd) .in-progress-table .marker .icon-moon-round-unchecked {
        margin-left:-12px;
        top:-2px
    }
}
@media (min-width: 1420px) {
    .skinAd:not(.skinType-skinlocknarrow) .in-progress-table td {
        font-size:14px
    }
    .skinAd:not(.skinType-skinlocknarrow) .in-progress-table td.team a {
        font-size:16px;
        line-height:1.5
    }
    .skinAd:not(.skinType-skinlocknarrow) .in-progress-table .marker .icon-moon-caret-right {
        margin-left:-16px;
        top:-2px
    }
    .skinAd:not(.skinType-skinlocknarrow) .in-progress-table .marker .icon-moon-round-unchecked {
        margin-left:-12px;
        top:-2px
    }
}
.all-access {
    color:#fff;
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:400;
    letter-spacing:2px;
    line-height:1;
    text-transform:uppercase;
    background:url('//sportsfly.cbsistatic.com/bundles/sportsmediacss/images/scores/stream-cbs-allaccess.svg') #147cd1 no-repeat center center;
    box-sizing:border-box;
    color:#fff;
    overflow:hidden
}
.all-access a {
    color:inherit;
    font-weight:inherit
}
.all-access a:hover {
    color:#147cd1
}
.all-access.gametracker {
    background-position:15px center;
    margin-left:10px;
    margin-right:10px;
    padding:10px
}
.all-access.gametracker.pregame-mode .all-access-link-text {
    display:none
}
.all-access.gametracker.pregame-mode .all-access-link-text.preview {
    display:block
}
.all-access.gametracker .all-access-link-text {
    display:block
}
.all-access.gametracker .all-access-link-text.preview {
    display:none
}
.all-access.gametracker .all-access-link {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:0;
    border-radius:2px;
    box-sizing:border-box;
    cursor:pointer;
    display:inline-block;
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
    font-weight:400;
    line-height:1;
    text-align:center;
    text-transform:uppercase;
    vertical-align:middle;
    width:auto;
    font-size:13px;
    letter-spacing:1px;
    padding:10px 20px;
    background-color:#147cd1;
    color:#fff;
    border:1px solid #fff;
    float:right
}
.all-access.gametracker .all-access-link:hover {
    background-color:#0d538b
}
.all-access.scoreboard {
    display:inline-block;
    float:left;
    padding:15px 0 15px 0;
    position:relative;
    width:100%
}
.all-access.scoreboard .all-access-link-text {
    display:none
}
.all-access.scoreboard .all-access-link {
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%
}
#tabs .calendar-filter {
    margin-left:20px
}
#tabs .year-season {
    margin-left:30px
}
#tabs .bye-block {
    float:right;
    padding:9px 0 7px
}
.scoreboard-page .page-title {
    margin-top:20px
}
.scoreboard-page .page-title .title {
    vertical-align:text-bottom
}
.scoreboard-page .ad-leader-middle {
    margin:0 -20px -20px;
    padding:0 0 20px;
    text-align:center
}
.scoreboard-page .ad-leader-bottom {
    margin:0 -20px -20px;
    padding:20px 0 30px;
    text-align:center
}
.scoreboard-page .video-modal-container {
    bottom:0;
    position:fixed;
    right:0;
    transition:bottom 0.5s ease-in;
    z-index:6998902
}
.scoreboard-page .video-modal-container .title {
    background:#232323;
    height:25px
}
.scoreboard-page .video-modal-container .title .close {
    color:#e6e7e9;
    cursor:pointer;
    font-size:10px;
    height:11px;
    position:absolute;
    right:10px;
    top:6px;
    width:11px
}
