﻿
/*============================================================
GENERAL STYLES
============================================================*/
.db-wrapper {
    font-family: Arial;
}
/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #f55039;
    border: 1px solid #EDEDED;
    color: #fff;
}

.db-bk-color-two {
    background-color: #46A6F7;

}


/*============================
PRICING TABLES NINE STYLES
==============================*/

.db-width-perticular {
    border: 1px solid #EDEDED;
    background-color: rgb(255, 189, 129);
}

.db-width-documento {
    border: 1px solid #EDEDED;
    background-color: rgb(255, 189, 129);

}
.db-width-pie {
    background-color: rgb(255, 189, 129);
    min-width: 50px;
}
.db-width-simple {
    border: 1px solid #EDEDED;
}
.db-width-fin i.icon-inv {
    border: 1px solid #EDEDED;
    color: rgb(255, 255, 255);
}
.db-pricing-nine .table {
    text-align: center;
    margin-bottom: 0px;

}

.db-pricing-nine thead tr th {
    font-weight: normal;
    font-size: 14px;
    height: 72px;
    vertical-align: middle;
    text-align: center;
    color: #fff;

}

.db-pricing-nine i.icon-red {
    color: rgb(250, 57, 57);
}

.db-pricing-nine i.icon-green {
    color: #00E025;
}
